body{

font-family: Arial;
background: linear-gradient(135deg, #c5f5f0, #8cece2, #40e0d0);
text-align:center;
margin:0;
min-height:100vh;
display:flex;
flex-direction:column;

}

h1{

margin-top:30px;
color:#333;

}

.input-box{
margin-top: 50px;
margin-bottom: -50px;
/* margin:20px; */

}

input{

padding:10px;
width:250px;
border:1px solid #ccc;
border-radius:5px;

}

button{

padding:7px 14px;
border:none;
border-radius:5px;
cursor:pointer;

}

#addbtn{

background:#4CAF50;
color:white;

}

table{

margin:auto;
width:600px;
border-collapse:collapse;
background:white;

box-shadow:0px 0px 10px rgba(0,0,0,0.1);
margin-top:110px;

}

th{

background:#3f51b5;
color:white;
padding:10px;

}

td{

padding:10px;
border-bottom:1px solid #ddd;
text-align:center;

}

.edit{

background:#2196f3;
color:white;

}

.delete{

background:#f44336;
color:white;

}

/* Footer bottom */

footer{

margin-top:auto;
padding:20px;
background: linear-gradient(135deg, #bed6d5, #aecccb);

}

.social{

width:35px;
margin:10px;
transition:0.3s;

}

.social:hover{

transform:scale(1.2);

}

#title{
    margin-top: 60px;
font-size: 36px;

}